<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a [routerLink]="['/home']">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Choisir une ville</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default Searchbar -->
<ion-searchbar debounce="500" (ionChange)="doSearch($event)"
  placeholder="Rechercher"></ion-searchbar>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngIf="cities.length == 0 && bDidSearch">
      {{ getDisplayMessage() }}
    </ion-item>
    <ion-item *ngFor="let city of cities" (click)="getCity(city)" class="choice">
      <ion-label>{{ city.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer> 