ion-slides{
  // background-color: #dadada;
  border-top: dotted 1px #dadada;
  border-bottom: dotted 1px #dadada;
}

ion-slide {
  width: 70px !important;
  height: 100px !important;
  background-color:  #FFF;
  float: left;
  margin: 0.5px !important;
  padding: 2px !important;
  border-radius: 3px !important;
}

ion-slide:hover{
  cursor: pointer;
  background-color: #f4f4f4;
}



