:host {
    height: 100vh;
    // background-color: linear-gradient(rgb(47,150,163), rgb(48,62,143));

    .title-big {
        font-weight: bold;
    }

    .main {
        padding: 20px;
        min-height: calc(100vh - 56px);
        background: linear-gradient(white, #c2c2c2);
    }

    .today-weather-icon {
        max-width: 200px;
        margin: auto;
    }
    
    .today-temp {
        font-size: 80px;
        font-weight: bold;
        margin: 0;
    }

    .today-minmax, .today-condition {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
       
    .location {
        font-size: 24px;
        font-weight: bold;
        margin-top: 80px;
    }
}

