:host {
    height: 100vh;

    .title-big {
        font-weight: bold;
    }

    .main {
        padding: 0 1rem;
    }

    .today-weather-icon {
        max-width: 180px;
        margin: auto;
    }
    
    .today-temp {
        font-size: 80px;
        font-weight: bold;
        margin: 0;
    }

    .today-minmax, .today-condition {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .today-condition {
        font-weight: bold;
    }
       
    .location {
        font-size: 24px;
        font-weight: bold;
        margin-top: 50px;
    }
}

